div.menu ul {
	list-style: none; margin: 0px; padding: 0px; font-family: Arial, Verdana; font-size: 12px;
}
div.menu > ul > li {
	width: 12.3%; float: left; display: block; position: relative;
}
div.menu ul li#leftmost a {
	border-radius: 3px 0px 0px 3px; -moz-border-radius: 3px 0 0 3px; -webkit-border-radius: 3px 0 0 3px;
}
div.menu ul li#rightmost a {
	border-radius: 0px 3px 3px 0px; -moz-border-radius: 0 3px 3px 0; -webkit-border-radius: 0 3px 3px 0;
}
div.menu li.bottommost a {
	border-radius: 0px 0px 12px 12px; -moz-border-radius: 0 0 12px 12px; -webkit-border-radius: 0 0 12px 12px;
}
div.menu li ul {
	color: rgb(255, 255, 255); display: none;
}
div.menu ul li a {
	background: rgb(17, 17, 153); padding: 5px 15px; border: 1px solid rgb(153, 153, 153); color: rgb(255, 255, 255); text-decoration: none; margin-left: 0px; display: block; white-space: nowrap;
}
div.menu ul li a:hover {
	background: rgb(51, 51, 204); z-index: 3;
}
div.menu li:hover ul {
	display: block; position: absolute; z-index: 3;
}
div.menu li:hover li {
	font-size: 11px; float: none;
}
div.menu li:hover a {
	background: rgb(102, 102, 204);
}
