body {background:#003366;}
#header {background:url(images/header_aqua.png) no-repeat left; width:955px;}
#sidebar1 h2, #sidebar2 h2{color: #0066CC;}
#footer {background:url(images/footer_aqua.png) no-repeat left; width:955px;}