ul{
	border: 0; 
	margin: 0; 
	padding: 0;
}

#pagination-clean li{

margin: 0; 
padding: 0;
font-size: 11px;
list-style: none;
/*margin-right: 2px;*/
display: block;
float: left;

}
#pagination-clean a{
border: solid 1px #2e6ab1;
margin-right: 2px;

}
#pagination-clean span{
border: solid 1px #2e6ab1;
margin-right: 2px;

}
#pagination-clean .previous-off,
#pagination-clean .next-off {

border:solid 1px #cccccc;
color: #999999;
display: block;
float: left;
margin-right: 2px;
padding: 3px 4px;
}
#pagination-clean .next a,
#pagination-clean .previous a {
border: solid 1px #2e6ab1;
} 
#pagination-clean .active{

background: #2e6ab1;
color: #FFFFFF;
/*font-weight: bold;*/
display: block;
float: left;
padding: 4px 4px 4px 6px;
margin-right: 2px;
}
#pagination-clean a:link,
#pagination-clean a:visited {

color:#0e509e
display: block;
float:left;
padding:3px 6px;
text-decoration:none;
}
#pagination-clean a:hover{
border:solid 1px #2e6ab1;
}
#pageInfo{
	float: right;
	display: block;
	font-size: 12px;
	margin-right: 10px;
}