body {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 12px;
    padding: 8px 0px 0px 0px;
    background-image: none;
    margin: 0px 0px 0px 0px;
    background-color: #f6f6f6;
    background-image:  none;
    background-attachment:fixed;

}

    a {
        color: #2e5fab;
        font-family: Arial, Helvetica, sans-serif;
}
    a:hover {
        color: #2e5fab;
        text-decoration: underline;
}

    a:visited {
        color: #2e5fab;
        text-decoration: underline;
}

    a:active {
        color: #2e5fab;
        text-decoration: underline;
}

.content {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    padding: 0px 3px 3px 3px;
    background-image: url(../images/contentbg.jpg);
    background-repeat: repeat-x;
    background-position: left top;
    vertical-align: top;
    background-color: #FFF;
    border-top: 1px groove #e1e1e1;
    border-right: none;
    border-bottom: 2px groove #e1e1e1;
    border-left: 2px groove #e1e1e1;
}
    a.content {

    font-family: Arial, Helvetica, sans-serif;
    color: #000000;


}
    a.content:hover {

    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    text-decoration: none;

}
    a.content:visited {

    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}
ul {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 12px;
}
    a.ul {

    font-family: Arial, Helvetica, sans-serif;
    color: #000000;


}
    a.ul:hover {

    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    text-decoration: none;

}
    a.ul:visited {

    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}
.ulred {
    font-family: Arial, Helvetica, sans-serif;
    color: #FF0000;
    font-size: 14px;
}
    a.ulred {

    font-family: Arial, Helvetica, sans-serif;
    color: #FF0000;


}
    a.ulred:hover {

    font-family: Arial, Helvetica, sans-serif;
    color: #FF0000;
    text-decoration: none;

}
    a.ulred:visited {

    font-family: Arial, Helvetica, sans-serif;
    color: #FF0000;
}
h1 {
font-family: Arial, Helvetica, sans-serif; 
color: #000000;
font-size: 24px;
padding: 3px 0px 2px 0px;
margin: 0px 0px 0px 0px;
}
h2 {
font-family: Arial, Helvetica, sans-serif; 
color: #000000;
font-size: 24px;
padding: 2px 0px 0px 0px;
margin: 0px 0px 0px 0px;
}

.topnav2 { 
    font-size: 13px;
    color: #2e5fab;
}

    a.topnav2 {

    font-size: 13px;
    color: #2e5fab;


}
    a.topnav2:hover {

    font-size: 13px;
    color: #2e5fab;
    text-decoration: none;

}
    a.topnav2:visited {

    font-size: 13px;
    color: #2e5fab;
}

.topnavwhite
{
font-family: Arial, Helvetica, sans-serif; 
color: #FFF;
font-size: 12px;
padding-left: 14px;
text-align: left;
background-color:#0032cc;
}
a.topnavwhite
{
color: #FFF;
text-decoration: none;
font-weight: bold;
padding-left: 0px;
}
a.topnavwhite:hover
{
color: #FFF;
text-decoration: underline;
}
a.topnavwhite:visited
{
color: #FFF;
}
.banner1 {

    background-color: #cdd6f6;
    width: auto;
    height: 100px;
    border-bottom: 1px solid #e1e1e1;
}
.banner2 {

    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-size:36px;
    background-color: #cdd6f6;
    width: 940px;
    height: 100px;
    text-align:left;
    text-indent:30px;
    padding: 5px;
    background-image: url(../images/banner_02z.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: bottom;
    border-bottom: 3px groove #e1e1e1;
}
.banner3 {
    background-color: #cdd6f6;
    width: 14px;
    height: 100px;
    background-image: url(../images/banner_03z.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    border-bottom: 1px solid #e1e1e1;
}

.banner1home {

        background-image:  url('http://www.delraycomputer.com/images/banner0201home.jpg');
    background-repeat: no-repeat;
    background-position: top left;
    width: auto;
    height: 100px;
}
.banner2home {

    font-family: Arial, Helvetica, sans-serif;
        color: #000000;
        font-size:20px;
    background-image:  url('http://www.delraycomputer.com/images/banner0201home.jpg');
    background-repeat: no-repeat;
    background-position: top left;
    width: 940px;
    height: 100px;
    text-align:left;
    text-indent:30px;
    vertical-align: top;
}
.banner3home {
    background-image:  url('http://www.delraycomputer.com/images/banner0201home.jpg');
    background-repeat: no-repeat;
    background-position: top left;
    width: auto;
    height: 100px;
}
.banner1gd {

    background-image:  none;
    width: auto;
    height: 100px;
    background-color: #FFFFFF;
}
.banner2gd {

    font-family: Arial, Helvetica, sans-serif;
        color: #000000;
        font-size:20px;
    background-image:  url('http://www.delraycomputer.com/graphic_design/images/banner.jpg');
    background-repeat: no-repeat;
    background-position: top left;
    width: 940px;
    height: 100px;
    text-align:left;
    text-indent:30px;
    vertical-align: top;
}

.banner3gd {
    background-image:  none;
    width: auto;
    height: 100px;
    background-color: #FFFFFF;
}

.banner1b {
    background-image:  url(../images/web_design_layout_01b.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    width: 712px;
    height: 16px;
}
.banner2b {

    background-image:  url(../images/web_design_layout_02b.jpg);
    background-repeat: repeat-x;
    background-position: top left;
    width: auto;
    height: 16px;
}
.banner3b {
    background-image:  url(../images/web_design_layout_03b.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    width: 22px;
    height: 16px;
}

.nav {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    width: 230px;
    margin: 0px;
    padding: 0px;
    text-align: left;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
    background-image:  none;
    vertical-align: top;
    height: auto;
    background-color: #FFF;

}
    a.nav {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: bold;
        color: #000000;
        padding: 0px 2px 2px 0px;
        margin: 0px;
        text-transform: uppercase;
        text-decoration: none;
        width: 150px;
        height: 22px;
        background-image:  none;
        display: block;
        border-top: 1px groove #666666;
        border-right: 1px groove #999999;
        border-bottom: 1px groove #333333;
        border-left: 1px groove #999999;
        line-height: 10px;

}
    a.nav:hover {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: bold;
        color: #00FF33;
        padding: 0px 2px 2px 2px;
        margin: 0px;
        text-transform: uppercase;
        text-decoration: underline;
        width: 150px;
        height: 22px;
        background-image:  none;
        display: block;
        border: 1px solid #000000;
        line-height: 12px;
}
    a.nav:visited {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: bold;
        padding: 0px 2px 2px 2px;
        margin: 0px;
        display: block;
        border: 1px solid #000000;
        line-height: 12px;
        width: 150px;
        height: 22px;
}


.topnav {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
	width: auto;
	border-right: silver 2px inset;
	margin: 0px;
	padding: 0px;
	text-align: center;
	vertical-align: top;
	background-image: none;
	height: auto;
	text-transform: uppercase;
 
}
	a.topnav {
		color: #000080;
		text-decoration: none;
		font-weight: bold;
		border-left: white 1px outset; 
		border-top: white 1px outset;	
		border-right: silver 2px outset; 
		border-bottom: silver 2px outset;
		background-color: #dbe3ff;
		background-image: none;
		width: 100%;
		padding: 0px;
		margin: 0px;
		vertical-align: top;
		display: inline-block;
 
}
	a.topnav:hover {
		color: #000080;
		text-decoration: none;
		background-color: #ffffff;
		border-left: silver 2px outset; 
		border-top: silver 2px outset;	
		border-right: white 1px outset; 
		border-bottom: white 1px outset;
}
	a.topnav:active {
		color: #FF0000;
}
	a.topnav:visited {
		color: #000080;
}


.topnavgd {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;

}
    a.topnavgd {
    text-decoration: none;
    height: 14px;
    color: #000000;
    text-decoration: none;  
}
    a.topnavgd:hover {
    text-decoration: underline;
    color: #000000;

}
    a.topnavgd:visited {
    color: #000000;

}
.contentlinks {
    color: #2e5fab;
    font-family: Arial, Helvetica, sans-serif;
}
    a.contentlinks {
        color: #2e5fab;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
}
    a.contentlinks:hover {
        color: #2e5fab;
        text-decoration: underline;
}

    a.contentlinks:visited {
        color: #2e5fab;
        text-decoration: underline;
}

    a.contentlinks:active {
        color: #2e5fab;
        text-decoration: underline;
}

.nav3 {
    color: #2e5fab;
    font-family: Arial, Helvetica, sans-serif;
}
    a.nav3 {
        color: #2e5fab;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
}
    a.nav3:hover {
        color: #2e5fab;
        text-decoration: underline;
}

    a.nav3:visited {
        color: #2e5fab;
        text-decoration: underline;
}

    a.nav3:active {
        color: #2e5fab;
        text-decoration: underline;
}

.bottomnav {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}
    a.bottomnav {
        color: #000000;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
}
    a.bottomnav:hover {
        color: #000000;
        text-decoration: underline;
}

    a.bottomnav:visited {
        color: #000000;
}

    a.bottomnav:active {
        color: #000000;
}

.copyright {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 12px;
}
    a.copyright {
        color: #000000;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
}
    a.copyright:hover {
        color: #000000;
        text-decoration: underline;
}

    a.copyright:visited {
        color: #000000;
}

    a.copyright:active {
        color: #000000;
}.copyrightblack {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 12px;
}
    a.copyrightblack {
        color: #000000;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
}
    a.copyrightblack:hover {
        color: #000000;
        text-decoration: underline;
}

    a.copyrightblack:visited {
        color: #000000;
}

    a.copyrightblack:active {
        color: #000000;
}


.fielder {
    font-family:  Arial,Helvetica, sans-serif;
    font-size: 12pt;
    color: #000;
    border: 1px groove #333333;
    background-color:#e1e1e1;
    padding:3px;
    margin-right: 12px;
    height:auto;
    width: 360px;
    text-align: center;
}
.domainform {
    font-family:  Arial,Helvetica, sans-serif;
    font-size: 18pt;
    color: #333333;
    position: relative;
    background-color: #e1e1e1;
    border: 3px solid #FF0000;
    margin: 3px 0 3px -10px;
    padding: 7px 7px 1px 9px;
    width: 300px;
    visibility: visible;

}

.footer {
    font-family:  Arial,Helvetica, sans-serif;
    font-size: 9px;
    color: #333333; 
}

.normaltext {
    font-family:  Arial,Helvetica, sans-serif;
    font-size: 12px;
}

.bookmarktext {
    font-family:  Arial,Helvetica, sans-serif;
    font-size: 14px;
}

.result {
    font-family:  Arial,Helvetica, sans-serif;
    font-size: 14px;
}

.showspecials {
    font-family:  Arial,Helvetica, sans-serif;
    font-size: 10px;
    color: #99CCFF;
}
    a.showspecials {
        color: #99CCFF;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
}
    a.showspecials:hover {
        color: #99CCFF;
        text-decoration: underline;
}

    a.showspecials:visited {
        color: #99CCFF;
}

    a.showspecials:active {
        color: #99CCFF;
}