BODY
{
    FONT-FAMILY: arial:
}
Textarea
{
    FONT-SIZE: 14px;
    COLOR: #000000;
    FONT-FAMILY: arial, verdana, helvetica, sans-serif
}
#NewsletterSidebar {color:white !important;}
#NewsletterSidebar b {color:white !important;}
#NewsletterSidebar A:LINK {color:white;}
#NewsletterSidebar A:VISITED {color:white;}
A:hover
{
    TEXT-DECORATION: underline
}
.LOLUtilityBar
{
    FONT-SIZE: 8pt;
    COLOR: #666666;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #e5e5e5
}
A.LOLUtilityBar
{
    FONT-WEIGHT: bold;
    TEXT-DECORATION: underline
}
TD.LOLUtilityBar
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px
}
TABLE.LOLUtilityBar
{
    MARGIN-BOTTOM: 6px
}
.LOLTPUtilityBar
{
    FONT-SIZE: 8pt;
    COLOR: #666666;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #e5e5e5
}
A.LOLTPUtilityBar
{
    FONT-WEIGHT: bold;
    TEXT-DECORATION: underline
}
TD.LOLTPUtilityBar
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px
}
TABLE.LOLTPUtilityBar
{
    MARGIN-BOTTOM: 6px
}
.LOLTopUserBar
{
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: Arial;
    HEIGHT: 10px;
    BACKGROUND-COLOR: #999999
}
.LOLTopUserBarSelected
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: Arial;
    HEIGHT: 10px;
    BACKGROUND-COLOR: #ff9900;
    TEXT-DECORATION: none
}
A.LOLTopUserBar
{
    TEXT-DECORATION: none
}
TD.LOLTopUserBar
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    HEIGHT: 18px
}
TABLE.LOLTopUserBar
{
    MARGIN-BOTTOM: 6px;
    HEIGHT: 18px
}
.LOLBottomUserBar
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Arial
}
A.LOLBottomUserBar
{
    TEXT-DECORATION: none
}
TD.LOLBottomUserBar
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px
}
TABLE.LOLBottomUserBar
{
    MARGIN-BOTTOM: 6px
}
.LOLSystemFooter
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 10px;
    FONT-SIZE: 7pt;
    PADDING-BOTTOM: 2px;
    COLOR: #666666;
    PADDING-TOP: 2px;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #d5d5d5
}
.LOLCellStandard
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Arial
}
A.LOLCellStandard
{
    TEXT-DECORATION: underline
}
TD.LOLCellStandard
{
    BORDER-RIGHT: #cccccc 1px solid;
    PADDING-RIGHT: 3px;
    BORDER-TOP: #cccccc 1px solid;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 3px;
    BORDER-LEFT: #cccccc 1px solid;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #cccccc 1px solid
}
TABLE.LOLCellStandard
{
    MARGIN-BOTTOM: 6px;
    BORDER-COLLAPSE: collapse;
    border-spacing: 0
}
.LOLCellArticle
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Arial
}
A.LOLCellArticle
{
    TEXT-DECORATION: underline
}
TD.LOLCellArticle
{
    BORDER-RIGHT: 0px;
    PADDING-RIGHT: 0px;
    BORDER-TOP: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: 0px
}
TABLE.LOLCellArticle
{
    MARGIN-BOTTOM: 6px;
    BORDER-COLLAPSE: collapse;
    border-spacing: 0
}
.LOLCellAlternate
{
    FONT-SIZE: 8pt;
    COLOR: #54221f;
    FONT-FAMILY: Arial
}
A.LOLCellAlternate
{
    COLOR: #54221f;
    TEXT-DECORATION: underline
}
TD.LOLCellAlternate
{
    BORDER-RIGHT: #cccccc 1px solid;
    PADDING-RIGHT: 3px;
    BORDER-TOP: #cccccc 1px solid;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 3px;
    BORDER-LEFT: #cccccc 1px solid;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #cccccc 1px solid
}
TABLE.LOLCellAlternate
{
    MARGIN-BOTTOM: 6px;
    BORDER-COLLAPSE: collapse;
    border-spacing: 0
}
.LOLCellHighlight
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Arial
}
A.LOLCellHighlight
{
    TEXT-DECORATION: underline
}
TD.LOLCellHighlight
{
    PADDING-RIGHT: 3px;
    BORDER-TOP: #ffffff 2px solid;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px;
    BACKGROUND-COLOR: #e0decf
}
TABLE.LOLCellHighlight
{
    MARGIN-BOTTOM: 6px;
    BORDER-COLLAPSE: collapse;
    border-spacing: 0
}
.LOLCellNarrowStandard
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Arial
}
A.LOLCellNarrowStandard
{
    TEXT-DECORATION: underline
}
TD.LOLCellNarrowStandard
{
    BORDER-RIGHT: #cccccc 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #cccccc 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: #cccccc 1px solid;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #cccccc 1px solid
}
TABLE.LOLCellNarrowStandard
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    MARGIN-BOTTOM: 6px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    BORDER-COLLAPSE: collapse;
    border-spacing: 0
}
.LOLCellNarrowAlternate
{
    FONT-SIZE: 8pt;
    COLOR: #54221f;
    FONT-FAMILY: Arial
}
A.LOLCellNarrowAlternate
{
    COLOR: #54221f;
    TEXT-DECORATION: underline
}
TD.LOLCellNarrowAlternate
{
    BORDER-RIGHT: #cccccc 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #cccccc 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: #cccccc 1px solid;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #cccccc 1px solid
}
TABLE.LOLCellNarrowAlternate
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    MARGIN-BOTTOM: 6px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    BORDER-COLLAPSE: collapse;
    border-spacing: 0
}
.LOLCellNarrowHighlight
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Arial
}
A.LOLCellNarrowHighlight
{
    TEXT-DECORATION: underline
}
TD.LOLCellNarrowHighlight
{
    BORDER-RIGHT: #cccccc 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #cccccc 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: #cccccc 1px solid;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #cccccc 1px solid;
    BACKGROUND-COLOR: #e5e5e5
}
TABLE.LOLCellNarrowHighlight
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    MARGIN-BOTTOM: 6px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    BORDER-COLLAPSE: collapse;
    border-spacing: 0
}
TD.LOLCellCaptionStandard
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 2px;
    MARGIN: 0px;
    COLOR: #ffffff;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #999999
}
TD.LOLCellRoundedCaptionStandard
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    BACKGROUND-COLOR: #999999
}
TD.LOLCellCaptionAlternate
{
    PADDING-RIGHT: 1px;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 1px;
    COLOR: #ffffff;
    PADDING-TOP: 1px;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #efb538
}
TD.LOLCellRoundedCaptionAlternate
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    BACKGROUND-COLOR: #efb538
}
TD.LOLCellCaptionHighlight
{
    PADDING-RIGHT: 1px;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 2px;
    COLOR: #ffffff;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #333333
}
TD.LOLCellRoundedCaptionHighlight
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    BACKGROUND-COLOR: #333333
}
TD.LOLCellCaptionArticle
{
    PADDING-RIGHT: 1px;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 1px;
    COLOR: #ffffff;
    PADDING-TOP: 1px;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #999999
}
TD.LOLCellRoundedCaptionArticle
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    BACKGROUND-COLOR: #999999
}
.SubjectTitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Arial
}
.SubjectDescription
{
    MARGIN-TOP: 4px;
    FONT-SIZE: 7pt;
    MARGIN-BOTTOM: 5px;
    COLOR: #636363;
    MARGIN-RIGHT: 5px;
    FONT-FAMILY: Verdana
}
.SubjectMore
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #ff8408;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.SpecialtyTitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: Arial
}
.ArticleLink
{
    FONT-SIZE: 7pt;
    MARGIN-BOTTOM: 7px;
    COLOR: #636363;
    FONT-FAMILY: Verdana
}
.promo
{
    FONT: 8pt arial
}
H1.promo
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    LINE-HEIGHT: normal;
    PADDING-TOP: 0px;
    FONT-STYLE: normal;
    FONT-VARIANT: normal
}
A.promo
{
    COLOR: black
}
A.promo:hover
{
    COLOR: blue
}
.UserSelectLink
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    FONT-VARIANT: normal
}
TD.UserSelectLink
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    BACKGROUND-IMAGE: none;
    PADDING-BOTTOM: 2px;
    MARGIN: 0px;
    COLOR: white;
    LINE-HEIGHT: normal;
    PADDING-TOP: 2px;
    BACKGROUND-REPEAT: repeat;
    FONT-STYLE: normal;
    BACKGROUND-COLOR: #999999;
    FONT-VARIANT: normal
}
TD.Information_1902
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    BACKGROUND: #999999;
    PADDING-BOTTOM: 2px;
    MARGIN: 0px;
    COLOR: white;
    LINE-HEIGHT: normal;
    PADDING-TOP: 2px;
    FONT-STYLE: normal;
    FONT-VARIANT: normal
}
.Article
{
    FONT-SIZE: 12px;
    MARGIN: 0px auto 20px;
    COLOR: #636363;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.Article IMG
{
    MARGIN-LEFT: 10px
}
.button
{
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #000000 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    BACKGROUND: #333333;
    BORDER-LEFT: #000000 1px solid;
    CURSOR: hand;
    COLOR: #ffffff;
    BORDER-BOTTOM: #000000 1px solid;
    FONT-FAMILY: verdana
}
.GetMoreFree
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 24pt;
    COLOR: #333333;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    FONT-VARIANT: normal
}
.header
{
    BACKGROUND-POSITION: right top;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-COLOR: #999999
}
.headertitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 18pt;
    LEFT: 10px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial;
    POSITION: relative
}
.headersubtitle
{
    FONT-SIZE: 9pt;
    LEFT: 10px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial;
    POSITION: relative
}
H1.eFAQs
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 14pt;
    BACKGROUND: #333333;
    PADDING-BOTTOM: 2px;
    MARGIN: 0px 0px 4px;
    COLOR: white;
    LINE-HEIGHT: normal;
    PADDING-TOP: 2px;
    FONT-STYLE: normal;
    FONT-VARIANT: normal
}
B.eFAQs
{
    COLOR: #333333
}
H1.eQuotes
{
    FONT-SIZE: 24px;
    MARGIN: 0px 0px 20px;
    COLOR: #333333;
    FONT-STYLE: italic;
    FONT-FAMILY: "Times New Roman", Times, serif
}
H1.eReports
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 14pt;
    BACKGROUND: #333333;
    PADDING-BOTTOM: 2px;
    MARGIN: 0px 0px 4px;
    COLOR: white;
    LINE-HEIGHT: normal;
    PADDING-TOP: 2px;
    FONT-STYLE: normal;
    FONT-VARIANT: normal
}
H2.eReports
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    BACKGROUND: #333333;
    PADDING-BOTTOM: 2px;
    MARGIN: 8px 0px 0px;
    COLOR: #ffffff;
    LINE-HEIGHT: normal;
    PADDING-TOP: 2px;
    FONT-STYLE: normal;
    FONT-VARIANT: normal
}
H3.eReports
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 14pt;
    PADDING-BOTTOM: 0px;
    MARGIN: 6px 0px 0px;
    COLOR: #333333;
    LINE-HEIGHT: normal;
    PADDING-TOP: 6px;
    FONT-STYLE: normal;
    FONT-VARIANT: normal
}
B.eReports
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 18pt;
    COLOR: #f3d30c;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    FONT-VARIANT: normal
}
TABLE.eReports
{
    BACKGROUND: #e0decf
}
H1.eTips
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 14pt;
    BACKGROUND: #333333;
    PADDING-BOTTOM: 2px;
    MARGIN: 0px 0px 4px;
    COLOR: white;
    LINE-HEIGHT: normal;
    PADDING-TOP: 2px;
    FONT-STYLE: italic;
    FONT-VARIANT: normal
}
B.eTips
{
    COLOR: #333333
}
.form
{
    PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;
    FONT-SIZE: 10pt;
    BACKGROUND: #f3f2ee;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    FONT-FAMILY: arial
}
.CriteriaForm
{
    PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;
    FONT-SIZE: 10pt;
    BACKGROUND: #e9d1d1;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    FONT-FAMILY: arial
}
H1.form
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 14pt;
    BACKGROUND: #333333;
    PADDING-BOTTOM: 2px;
    MARGIN: 0px;
    WIDTH: 610px;
    COLOR: white;
    LINE-HEIGHT: normal;
    PADDING-TOP: 2px;
    FONT-STYLE: normal;
    FONT-VARIANT: normal
}
H2.form
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    BACKGROUND: #5a84b6;
    PADDING-BOTTOM: 2px;
    MARGIN: 0px;
    WIDTH: 610px;
    COLOR: #ffffff;
    LINE-HEIGHT: normal;
    PADDING-TOP: 2px;
    FONT-STYLE: normal;
    FONT-VARIANT: normal
}
.popup
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    FONT-FAMILY: arial, sans_serif
}
.arial
{
    FONT-FAMILY: arial
}
A.form
{
    COLOR: black
}
A.form:hover
{
    COLOR: blue;
    TEXT-DECORATION: none
}
A.form:visited
{
    COLOR: navy;
    REMOVED_TEXT-DECORATION: none
}
#subjectMenu
{
    PADDING-LEFT: 0px;
    MARGIN: 0px;
    WIDTH: 160px
}
#subjectMenu LI.subjectLink
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    LIST-STYLE-TYPE: none
}
LI.subjectLink A:link
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 8px;
    BACKGROUND: url(/assets/images/subjectArrow1.gif) #fff no-repeat 4px 3px;
    PADDING-BOTTOM: 0px;
    FONT: bold 11px verdana;
    COLOR: #333333;
    PADDING-TOP: 0px;
    TEXT-DECORATION: none
}
LI.subjectLink A:visited
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 8px;
    BACKGROUND: url(/assets/images/subjectArrow1.gif) #fff no-repeat 4px 3px;
    PADDING-BOTTOM: 0px;
    FONT: bold 11px verdana;
    COLOR: #333333;
    PADDING-TOP: 0px;
    TEXT-DECORATION: none
}
LI.subjectLink A.s:link
{
    BACKGROUND: url(/assets/images/subjectArrow2.gif) #fff no-repeat 2px 6px
}
LI.subjectLink A.s:visited
{
    BACKGROUND: url(/assets/images/subjectArrow2.gif) #fff no-repeat 2px 6px
}
LI.subjectLink A:hover
{
    COLOR: #efb538;
    TEXT-DECORATION: underline
}
#topicMenu
{
    BORDER-TOP: #999999 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 5px;
    MARGIN-LEFT: 8px;
    BORDER-BOTTOM: #999999 1px solid
}
#topicMenu LI.topicLink
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    LIST-STYLE-TYPE: none
}
LI.topicLink A:link
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 8px;
    BACKGROUND-IMAGE: none;
    PADDING-BOTTOM: 0px;
    FONT: bold 7pt verdana;
    COLOR: #999999;
    PADDING-TOP: 0px;
    TEXT-DECORATION: none
}
LI.topicLink A:visited
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 8px;
    BACKGROUND-IMAGE: none;
    PADDING-BOTTOM: 0px;
    FONT: bold 7pt verdana;
    COLOR: #999999;
    PADDING-TOP: 0px;
    TEXT-DECORATION: none
}
LI.topicLink A.s:link
{
    BACKGROUND: url(/assets/images/topicArrow1.gif) #fff no-repeat 2px 4px
}
LI.topicLink A.s:visited
{
    BACKGROUND: url(/assets/images/topicArrow1.gif) #fff no-repeat 2px 4px
}
LI.topicLink A:hover
{
    COLOR: #efb538;
    TEXT-DECORATION: underline
}
#articleMenu
{
    PADDING-LEFT: 0px;
    MARGIN-LEFT: 5px
}
#articleMenu LI.articleLink
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    LIST-STYLE-TYPE: none;
    HEIGHT: 100%;
	LINE-HEIGHT:15px;
}
LI.articleLink A:link
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 8px;
    PADDING-BOTTOM: 0px;
    FONT: 7pt verdana;
    COLOR: #636363;
    PADDING-TOP: 0px;
    HEIGHT: 15px;
    TEXT-DECORATION: none
}
LI.articleLink A:visited
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 8px;
    PADDING-BOTTOM: 0px;
    FONT: 7pt verdana;
    COLOR: #636363;
    PADDING-TOP: 0px;
    HEIGHT: 15px;
    TEXT-DECORATION: none
}
LI.articleLink A.s:link
{
    BACKGROUND: url(/assets/images/articleArrow1.gif) #fff no-repeat 2px 4px;
    COLOR: #000000
}
LI.articleLink A.s:visited
{
    BACKGROUND: url(/assets/images/articleArrow1.gif) #fff no-repeat 2px 4px;
    COLOR: #000000
}
LI.articleLink A:hover
{
    COLOR: #efb538;
    TEXT-DECORATION: underline
}
.CalcTBMain
{
    BORDER-RIGHT: #636363 1px solid;
    BORDER-TOP: #636363 1px solid;
    FONT-SIZE: 12px;
    BORDER-LEFT: #636363 1px solid;
    WIDTH: 100%;
    BORDER-BOTTOM: #636363 1px solid;
    FONT-FAMILY: arial, verdana, helvetica, sans-serif
}
.CalcTBSub
{
    MARGIN-TOP: 1px;
    FONT-SIZE: 12px;
    WIDTH: 100%;
    FONT-FAMILY: arial, verdana, helvetica, sans-serif;
    BACKGROUND-COLOR: #e0decf
}
.CalcTBHeader
{
    MARGIN-TOP: 1px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 18px;
    WIDTH: 100%;
    COLOR: #ffffff;
    FONT-FAMILY: arial, verdana, helvetica, sans-serif;
    BACKGROUND-COLOR: #39527b
}
.CalcTBSubHeader
{
    MARGIN-TOP: 1px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    WIDTH: 100%;
    COLOR: #ffffff;
    FONT-FAMILY: arial, verdana, helvetica, sans-serif;
    BACKGROUND-COLOR: #5a84b6
}
.CalcTBSubmit
{
    MARGIN-TOP: 1px;
    WIDTH: 100%;
    BACKGROUND-COLOR: #5a84b6
}
.CalcTDMain
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px
}
.CalcTDLabel
{
    PADDING-LEFT: 7px
}
.CalcTDResultB
{
    PADDING-LEFT: 7px;
    FONT-WEIGHT: bold
}
.CalcTDResult
{
    PADDING-RIGHT: 7px;
    TEXT-ALIGN: right
}
.CalcTDSubHeader
{
    TEXT-ALIGN: center
}
.CalcTDInput
{
    PADDING-RIGHT: 7px;
    TEXT-ALIGN: right
}
.CalcTDSubmit
{
    PADDING-RIGHT: 13px;
    TEXT-ALIGN: right
}
.CalcSubFont
{
    FONT-SIZE: 10px;
    FONT-FAMILY: arial, verdana, helvetica, sans-serif
}
.CalcInstructions
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    FONT-SIZE: 10px;
    PADDING-BOTTOM: 10px;
    COLOR: #636363;
    PADDING-TOP: 10px;
    FONT-FAMILY: arial, verdana, helvetica, sans-serif
}
.CalcInput
{
    FONT-SIZE: 12px;
    COLOR: #636363;
    FONT-FAMILY: arial, verdana, helvetica, sans-serif
}
.CalcInputLabel
{
    FONT-SIZE: 15px;
    FONT-FAMILY: arial, verdana, helvetica, sans-serif
}
.CalcHR
{
    COLOR: #dbe4ef
}
.HNMainTitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #cc0000;
    FONT-FAMILY: ;
    Arial: 
}
.HNMainText
{
    FONT-SIZE: 13px;
    FONT-FAMILY: ;
    Arial: 
}
.HNMoreLink1
{
    FONT-SIZE: 13px;
    FONT-FAMILY: ;
    Arial: 
}
.HNMoreLink1:hover
{
    FONT-WEIGHT: bold;
    COLOR: #cc0000
}
.HNSubTitles
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #cc0000;
    FONT-FAMILY: ;
    Arial: 
}
.HNSubText
{
    FONT-SIZE: 10px;
    FONT-FAMILY: ;
    Arial: 
}
.HNMoreLink2
{
    FONT-SIZE: 10px;
    FONT-FAMILY: ;
    Arial: 
}
.HNMoreLink2:hover
{
    FONT-WEIGHT: bold;
    COLOR: #cc0000
}
.HNFeaturesTitles
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #cc0000;
    FONT-FAMILY: ;
    Arial: 
}
.HNFeaturesText
{
    FONT-SIZE: 12px;
    FONT-FAMILY: ;
    Arial: 
}
.HNSubText
{
    FONT-SIZE: 10px;
    FONT-FAMILY: ;
    Arial: 
}
.HNMoreLink3
{
    FONT-SIZE: 12px;
    FONT-FAMILY: ;
    Arial: 
}
.HNMoreLink3:hover
{
    FONT-WEIGHT: bold;
    COLOR: #cc0000
}
TD.FeaturedArticlesCell
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    BACKGROUND: #cc0000;
    PADDING-BOTTOM: 2px;
    MARGIN: 0px;
    COLOR: white;
    LINE-HEIGHT: normal;
    PADDING-TOP: 2px;
    FONT-STYLE: normal;
    FONT-VARIANT: normal
}
.IETD
{
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #f0f0f0
}
.IETitle
{
    FONT-WEIGHT: 800;
    COLOR: #999999
}
.IEText
{
}
.IEMoreLink
{
    COLOR: #efb538;
    TEXT-DECORATION: none
}
.IEMoreLink:hover
{
    COLOR: #efb538;
    TEXT-DECORATION: underline
}
