.menu-478, ul.links li.menu-478 {
  background-image: url(/sites/default/files/images/social_youtube.jpg);
  padding-left:75px;
  background-repeat: no-repeat;
  background-position: left;
  height: 75px;
}

.menu-477, ul.links li.menu-477 {
  background-image: url(/sites/default/files/images/social_blog.jpg);
  padding-left:61px;
  background-repeat: no-repeat;
  background-position: left;
  height: 61px;
}

.menu-479, ul.links li.menu-479 {
  background-image: url(/sites/default/files/images/social_twitter.jpg);
  padding-left:101px;
  background-repeat: no-repeat;
  background-position: left;
  height: 101px;
}

.menu-480, ul.links li.menu-480 {
  background-image: url(/sites/default/files/images/social_facebook.jpg);
  padding-left:101px;
  background-repeat: no-repeat;
  background-position: left;
  height: 101px;
}

.menu-2942, ul.links li.menu-2942 {
  background-image: url(/sites/default/files/images/social_rss.jpg);
  padding-left:62px;
  background-repeat: no-repeat;
  background-position: left;
  height: 62px;
}

.menu-16361, ul.links li.menu-16361 {
  background-image: url(http://drupallocal/sites/default/files/menu_icons/social_enews.jpg);
  padding-left:90px;
  background-repeat: no-repeat;
  background-position: left;
  height: 90px;
}

