.multitask .subtitle-j {
    color: #FFFFFF;
    display: block;
    font-family: Amplitude;
    font-size: 32px;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 19px;
    margin-top: -20px;
}
.multitask .subtitle-j sup {
	color: #FFFFFF;
}